{% assign _section = section.settings %}

{{- 'categories.css' | asset_url | stylesheet_tag -}}
{{- 'card-category.css' | asset_url | stylesheet_tag -}}

<section class="section-categories">
  <div class="container">
    {% if _section.heading != blank %}
      <header class="section__head" style="text-align: {{ _section.heading_position }};">
        <h2>
          {{ _section.heading }}

          {% if _section.heading_tag != blank %}
            <span>{{ _section.heading_tag }}</span>
          {% endif %}         
        </h2>
      </header><!-- /.section__head -->
    {% endif %}

    {% if _section.collection_list != blank %}
      <div class="section__body">
        <ul>
          {% for _collection in _section.collection_list %}
            <li>
              <a href="{{ _collection.url }}">
                <div class="card-category">
                  <div class="card__image">
                    <img src="{{ _collection.featured_image |  image_url: width: 300 }}" width="300" height="auto" loading="lazy" alt="">
                  </div><!-- /.card__image -->

                  <div class="card__content">
                    <h4>{{ _collection.title }}</h4>
                  </div><!-- /.card__content -->
                </div><!-- /.card-category -->
              </a>
            </li>
          {% endfor %}
        </ul>
      </div><!-- /.section__body -->
    {% endif %}
  </div><!-- /.container -->
</section><!-- /.section-categories -->

{% schema %}
  {
  "name": "Categories",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "heading_tag",
      "label": "Heading Tag"
    },
    {
      "type": "select",
      "id": "heading_position",
      "label": "Heading Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "Collections"
    }
  ],
  "presets": [
    {
      "name": "Categories"
    }
  ]
}  
{% endschema %}