{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

<script src="{{ 'footer.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% assign _section = section.settings %}
{% assign _blocks = section.blocks %}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif
  -%}

  <div class="page-width footer__page-width">
    <div class="footer__inner">
      <div class="footer__head">
        <a href="#" class="link focus-inset footer__back-link">
          <span>Back to top</span>
  
          <i class="fa-solid fa-arrow-up"></i>
        </a>
      </div><!-- /.footer__head -->

      <div class="footer__grid">
        {% if _section.logo != blank or _section.description != blank %}
          <div class="grid__item">
            <div class="footer__about">
              {% if _section.logo != blank %}
                <a href="{{ routes.root_url }}" class="footer__logo link focus-inset">
                  <img src="{{ _section.logo | image_url: width: 300 }}" loading="laz" alt="">
                </a>  
              {% endif %}
    
              {% if _section.description != blank %}
                <div class="footer__entry">
                  {{ _section.description }}
                </div><!-- /.footer__entry -->
              {% endif %}
            </div><!-- /.footer__about -->
          </div><!-- /.grid__item -->
        {% endif %}
        
        {% if _section.contact_heading != blank or _section.phone != blank or _section.email != blank %}
          <div class="grid__item">
            {% if _section.contact_heading != blank %}
              <h3>{{ _section.contact_heading }}</h3>
            {% endif %}
  
            {% if _section.contact_phone != blank or _section.contact_email != blank %}
              <ul class="footer__menu">
                {% if _section.contact_phone != blank %}
                  <li>
                    <i class="fa-regular fa-envelope"></i>

                    <div class="footer__menu-entry">
                      {{ _section.contact_phone }}
                    </div><!-- /.footer__menut-entry -->
                  </li>
                {% endif %}
    
                {% if _section.contact_email != blank %}
                  <li>
                    <i class="fa-solid fa-phone"></i>

                    <div class="footer__menu-entry">
                      {{ _section.contact_email }}
                    </div><!-- /.footer__menu-entry -->
                  </li>
                {% endif %}
              </ul><!-- /.footer__menu -->
            {% endif %}
          </div><!-- /.grid__item -->
        {% endif %}

        {%- if _section.show_social and has_social_icons -%}
          <div class="grid__item">
            <h3>Follow US</h3>

            {%- if _section.show_social and has_social_icons -%}
              {%- render 'social-icons', class: 'footer__list-social' -%}
            {%- endif -%}
          </div><!-- /.grid__item -->
        {%- endif -%}

        {% if _blocks.size > 0 %}
          {% for block in _blocks %}
            {% assign _block = block.settings %}

            {% if _block.menu_heading != blank or _block.menu != blank %}
              <div class="grid__item">
                {% if _block.menu_heading != blank %}
                  <h3>{{ _block.menu_heading }}</h3>
                {% endif %}

                {% if _block.menu != blank %}
                  <ul class="footer__menu">
                    {% for link in _block.menu.links %}
                      <li>
                        <a href="{{ link.url }}">{{ link.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div><!-- /.grid__item -->
            {% endif %}
          {% endfor %}
        {% endif %}
      </div><!-- /.footer__grid -->

      <div class="footer__bottom">
        <div class="footer__bottom-aside">
          {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
            <noscript>
              {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
                <div class="localization-form__select">
                  <h2 class="visually-hidden" id="FooterLanguageLabelNoScript">
                    {{ 'localization.language_label' | t }}
                  </h2>
                  <select
                    class="localization-selector link"
                    name="locale_code"
                    aria-labelledby="FooterLanguageLabelNoScript"
                  >
                    {%- for language in localization.available_languages -%}
                      <option
                        value="{{ language.iso_code }}"
                        lang="{{ language.iso_code }}"
                        {%- if language.iso_code == localization.language.iso_code %}
                          selected
                        {% endif %}
                      >
                        {{ language.endonym_name | capitalize }}
                      </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon-caret' %}
                </div>
                <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
              {%- endform -%}
            </noscript>
  
            <localization-form>
              {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
                <div class="no-js-hidden">
                  <h2 class="caption-large text-body" id="FooterLanguageLabel">
                    {{ 'localization.language_label' | t }}
                  </h2>
                  {%- render 'language-localization', localPosition: 'FooterLanguage' -%}
                </div>
              {%- endform -%}
            </localization-form>
          {%- endif -%}

          {%- if section.settings.payment_enable -%}
            <div class="footer__payment">
              <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
  
              <ul class="list list-payment" role="list">
                {%- for type in shop.enabled_payment_types -%}
                  <li class="list-payment__item">
                    {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}
        </div><!-- /.footer__bottom-aside -->

        <div class="footer__bottom-bside">
          {%- if section.settings.show_policy -%}
            <ul class="footer__menu footer__policies list-unstyled">
              {%- for policy in shop.policies -%}
                {%- if policy != blank -%}
                  <li>
                    <small class="copyright__content"
                      ><a href="{{ policy.url }}">{{ policy.title }}</a></small
                    >
                  </li>
                {%- endif -%}
              {%- endfor -%}
            </ul>
          {%- endif -%}

          <div class="footer__copyright">
            <small class="copyright__content"
              >&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}
            </small>
          </div><!-- /.footer__copyright -->
        </div><!-- /.footer__bottom-bside -->
      </div><!-- /.footer__bottom -->
    </div><!-- /.footer__inner -->
  </div><!-- /.page-width -->
</footer><!-- /.footer -->

{% schema %}
  {
  "name": "Footer",
  "settings": [
    {
      "type": "header",
      "content": "About Us"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "header",
      "content": "Contact"
    },
    {
      "type": "text",
      "id": "contact_heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "contact_phone",
      "label": "Phone"
    },
    {
      "type": "richtext",
      "id": "contact_email",
      "label": "Email"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__8.content",
      "info": "t:sections.footer.settings.header__8.info"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": false,
      "label": "t:sections.footer.settings.show_policy.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "name": "Menu",
      "type": "menu",
      "settings": [
        {
          "type": "text",
          "id": "menu_heading",
          "label": "Heading"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        }
      ]
    }
  ]
}  
{% endschema %}