{% assign _section = section.settings %}
{% assign _blocks = section.blocks %}

{{- 'gallery.css' | asset_url | stylesheet_tag -}}
{{- 'card-release.css' | asset_url | stylesheet_tag -}}
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{% if _section.product_list != blank %}
  <script src="{{- 'swiper-bundle.min.js' | asset_url -}}" defer="defer"></script>
  <script src="{{- 'galler-slider.js' | asset_url -}}" defer="defer"></script>

  {{- 'swiper-bundle.min.css' | asset_url | stylesheet_tag -}}
{% endif %}

<section class="section-gallery">
  <div class="container">
    {% if _section.heading != blank %}
      <header class="section__head" style="text-align: {{ _section.heading_position }};">
        <h2>
          {{ _section.heading }}

          {% if _section.heading_tag != blank %}
            <span>{{ _section.heading_tag }}</span>
          {% endif %}         
        </h2>
      </header><!-- /.section__head -->
    {% endif %}

    {% if _section.offer_heading != blank or _section.product_list != blank or _blocks.size > 0 %}
      <div class="section__body">
        <div class="section__grid">
          {% if _section.offer_heading != blank %}
            <div class="grid__col grid__col--first">
              <p>{{ _section.offer_heading }}</p>
            </div><!-- /.grid__col -->
          {% endif %}

          {% if _section.product_list != blank %}
            {% for _product in _section.product_list %}
              <div class="grid__col">
                <div class="card-release">
                  <div class="card__tags">
                    <span class="card__tag-discount">-30%</span>

                    <span class="card__tag-new">New</span>
                  </div><!-- /.card__tags -->

                  <a class="card__image" href="{{ _product.url }}">
                    <img src="{{ _product.featured_image |  image_url: width: 180 }}" width="180" height="auto" loading="lazy" alt="">
                  </a>

                  <div class="card__content">
                    <h4>
                      <a href="{{ _product.url }}">
                        {{ _product.title }}
                      </a>
                    </h4>
                  </div><!-- /.card__content -->

                  {%- assign product_form_id = 'product-form-' | append: section.id -%}

                  {% render 'buy-buttons', price: true, class: 'section__form' block: block, product: _product, product_form_id: product_form_id, section_id: section.id %}
                </div><!-- /.card-release -->
              </div><!-- /.grid__col -->
            {% endfor %}
          {% endif %}

          {% if _blocks.size > 0 %}
            <div class="grid__col grid__col--slider-{{ _section.offer_slider_position }}">
              <galler-slider class="swiper section__slider">
                <div class="swiper-wrapper">
                  {% for block in _blocks %}
                    {% assign _block = block.settings %}

                    {% if _block.offer_image != blank %}
                      <div class="swiper-slide" >
                        <div class="section__slider-image">
                          {% if _block.offer_link != blank %}
                            <a href="{{ _block.offer_link }}">
                          {% endif %}
                            <img src="{{ _block.offer_image | image_url: width: 1920 }}" width="1920" height="auto" loading="lazy" alt="">
                          {% if _block.offer_link != blank %}
                            </a>
                          {% endif %}
                        </div><!-- /.section__slider-image -->
                      </div><!-- /.swiper-slide -->
                    {% endif %}
                  {% endfor %}
                </div><!-- /.swiper-wrapper -->

                <div class="swiper-pagination"></div><!-- /.swiper-pagination -->
              </galler-slider><!-- /.galler-slider -->
            </div><!-- /.grid__col grid__col--gallery -->
          {% endif %}
        </div><!-- /.section__grid -->
      </div><!-- /.section__body -->
    {% endif %}
  </div><!-- /.container -->
</section><!-- /.section-gallery -->

{% schema %}
  {
  "name": "Gallery",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "html",
      "id": "heading_tag",
      "label": "Heading Tag"
    },
    {
      "type": "select",
      "id": "heading_position",
      "label": "Heading Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Product List"
    },
    {
      "type": "header",
      "content": "Offer - First Slide"
    },
    {
      "type": "text",
      "id": "offer_heading",
      "label": "Offer Heading"
    },
    {
      "type": "select",
      "id": "offer_slider_position",
      "label": "Offer Slider Position",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "1",
          "label": "Row 1"
        },
        {
          "value": "2",
          "label": "Row 2"
        },
        {
          "value": "3",
          "label": "Row 3"
        }
      ],
      "default": "1"
    }
  ],
  "blocks": [
    {
      "name": "Offer",
      "type": "offer",
      "settings": [
        {
          "type": "image_picker",
          "id": "offer_image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "offer_link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Gallery"
    }
  ]
}  
{% endschema %}